
*{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #62b5f0;
  text-align: center; 
}
.container{
    width: 500px;
    max-width: 90%;
    margin: 100px auto 0;
    background-color: #ffffff;
    border-radius: 10px;
}
header{
    background-color: #3d85b8;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
    padding: 40px 20px 80px;
    font-weight: 700;
}
main{
    padding: 0 40px 40px;
}
.circle{
    border-radius: 50%;
}
.photo{
    width: 100px;
    height: 100px;
    background-color: #1f425c;
    border: solid 2px #ffffff;
    margin: -50px auto 0;
}
.counter{
    width: 20px;
    height: 20px;
    background-color: #ffca08;
    margin: 0 0 auto auto ;
    color: #ffffff;
    font-weight: 700;
    font-size: 0.7em;
    padding: 3px;
}
h1{
    color: #62b5f0;
    margin: 20px 0;
    font-weight: 300;
    font-size: 2em;
}
p{
    font-weight: 300;
    font-size: 0.8em;
    line-height: 1.7;
    color: #777777;
}
a{
    color: #62b5f0;
}
#customize{
    display: block;
    width: 180px;
    margin: 20px auto;
    background-color: #3d85b8;
    padding: 10px 15px;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}
footer{
    width: 500px;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #62b5f0;
}
footer p{
    color: #ffffff;
}
.indented{
    font-style: italic;
}
